@import url("https://fonts.googleapis.com/css2?family=Audiowide&family=Exo:wght@200&family=Libre+Barcode+128+Text&display=swap");

/*
font-family: 'Audiowide', cursive;
font-family: 'Exo', sans-serif;
font-family: 'Libre Barcode 128 Text', cursive;
*/

body {
  margin: 0;
  font-family: "Audiowide", cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: black;
  color: wheat;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
